.pandasize {
    height: 120rem;
}

.movingpanda {
animation-name: pandathatmoves;
animation-duration: 1s;
animation-iteration-count: infinite;
transition: 0.5s;
}

@keyframes pandathatmoves {
    0% {transform: rotate(0deg); left: 0px;}
    20% {transform: rotate(72deg); left: 20rem;}
    40% {transform: rotate(144deg); left: 40rem;}
    60% {transform: rotate(216deg); left: 60rem;}
    80% {transform: rotate(288deg); left: 80rem;}
    100% {transform: rotate(360deg); left: 100rem;}
}
