.buttonmom {
    position: absolute;
    width: 50rem;
    height: 10rem;
    background-color: black;
   left: 67.5rem;
}

.button {
    display: inline-block;
    color: white;
    position: relative;
    transition: 0.3s;
    font-size: 310%;
    top: -2.5rem;
}

.button:hover {
    transform: translateY(20rem);
}

.sizecontrolforbutton{
    height: 100rem;
}