.parent {
  position: relative;
  height: 90rem;
}

.child {
  position: absolute;
  align-self: center;
}

.notdemon {
  z-index: 2;
}

.demon:hover {
  opacity: 100%;
}

.demon:not(:hover) {
  opacity: 0%;
}

.notdemon:hover {
  opacity: 0%;
}

.notdemon:not(:hover) {
  opacity: 100%;
}
