.parent {
    margin: 0 auto;
    height: 60rem;
    width: 40rem;
}

.child {
    position: relative;
  }

  .bunbun {
    text-align: center;
    height: 40rem;
    position: absolute;
    transition: all 0.15s;
    left: -9rem;
  }

.demon {
  z-index: 2;
}


.demon:hover {
  opacity: 100%;
}

.demon:not(:hover) {
  opacity: 0%;
}

.notdemon:hover {
  opacity: 0%;
}

.notdemon:not(:hover) {
  opacity: 100%;
}
