@import "./_demonbunny.scss";
@import "./_3zoompandas.scss";
@import "./_clickthebutton.scss";
@import "./_ballrollingacrossahill.scss";

html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  text-align: center;
}





