.parent {
  margin: 0 auto;
  height: 60rem;
  width: 40rem;
}

.child {
  position: relative;
  margin: 0 auto;
}

.bunbun {
  text-align: center;
  height: 40rem;
  position: absolute;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -6rem;
}

.demon {
  z-index: 2;
}

.demon:hover {
  opacity: 100%;
}

.demon:not(:hover) {
  opacity: 0%;
}

.notdemon:hover {
  opacity: 0%;
}

.notdemon:not(:hover) {
  opacity: 100%;
}

.center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery-parent {
  margin: 0 auto;
  height: 60rem;
  width: 40rem;
}

.gallery {
  position: relative;
}

.panda-photo {
  height: 20rem;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline-offset: 1rem;
}

.panda1 {
  top: 28rem;
  left: 35%;
}

.panda2 {
  top: 10rem;
  left: 15%;
}

.panda3 {
  top: 22rem;
  left: -30%;
}

.panda-photo:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  outline: 1rem solid #0e3f1d;
  z-index: 2;
}

.gallery:hover .panda-photo:not(:hover) {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.5;
}

.buttonmom {
  width: 50rem;
  height: 10rem;
  background-color: black;
  margin: 0 auto;
  border-radius: 4rem;
}

.button {
  text-align: center;
  color: white;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 310%;
  top: 1.5rem;
}

.button:hover {
  -webkit-transform: translateY(20rem);
          transform: translateY(20rem);
}

.sizecontrolforbutton {
  height: 30rem;
  width: 100%;
}

.rollingball {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ball {
  height: 10rem;
  z-index: 2;
  position: absolute;
  top: 14rem;
  margin-left: -30rem;
}

.hill {
  width: 50rem;
}

.hilldiv {
  width: 100%;
}

.balldiv {
  width: 100%;
  height: 20rem;
}

.ball:hover {
  -webkit-transform: translate(45rem, -30%) rotate(1440deg);
          transform: translate(45rem, -30%) rotate(1440deg);
  -webkit-transition: 13s;
  transition: 13s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.teletubby:hover {
  -webkit-transform: scale(3.5);
          transform: scale(3.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.teletubby {
  z-index: 3;
}

.satanism {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem;
}

.movingpanda {
  -webkit-animation-name: pandathatmoves;
          animation-name: pandathatmoves;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@-webkit-keyframes pandathatmoves {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  40% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
  }
  60% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  80% {
    -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes pandathatmoves {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  40% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
  }
  60% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  80% {
    -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes pandathatmoves {
  0% {
    left: 0px, 0;
  }
  20% {
    left: 10px, 0;
  }
  40% {
    left: 20px, 0;
  }
  60% {
    left: 30px, 0;
  }
  80% {
    left: 40px, 0;
  }
  100% {
    left: 50px, 0;
  }
}

html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */