@import "./tintedbunny.scss";
@import "./3zoompandas.scss";

html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  text-align: center;
}


.child {
  height: 20rem;
}

.child:hover {
    transform: rotate(20deg);
}

.child:not(:hover) {
    filter: grayscale(100%);
}



